{% extends 'base.html' %}
<title>{% block title %}Uniabuja Clinic | Create Appointment {% endblock %}</title>
{% block content %}

		<!-- START PAGE TITLE AREA -->
		<div class="page-title-area bg-9">
			<div class="container">
				<div class="page-title-content">
					<h2>Create Appointment</h2>
					<ul>
						<li>
							<a href="">
								Home
							</a>
						</li>

						<li>Pages</li>
						<li class="active">Create Appointment</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- END PAGE TITLE AREA -->

		<!-- START Create Patient AREA -->
		<section class="user-area-style log-in-area ptb-100">
			<div class="container">
				<div class="contact-form-action">
					<div class="section-title">
						<h2>Create Appointment!</h2>
						<p>Fill form to create an appointment.</p>
					</div>
					<form action="{% url 'create_appointment' user=user %}" method="POST">
						{% csrf_token %}
						<div class="row">
							<div class="col-lg-6 col-sm-12">
								<div class="form-group">
									<input class="form-control" required type="date" name="date" placeholder="Appointment date">
								</div>
							</div>

							<div class="col-lg-6 col-sm-12">
								<div class="form-group">
									<input class="form-control" type="time" required name="time" placeholder="Appointment Time">
								</div>
							</div>

							<div class="col-lg-6 col-sm-12">
								<div class="form-group">
									<div class="select-box">
										<select class="form-control"  name="docter" required>
											<option >Select Doctor</option>
											{% for data in doctor_names %}
												<option  value="{{ data.pk }}">{{ data.name }}</option>
											{% endfor %}
										</select>
									</div>
								</div>
							</div>

							<div class="col-lg-6 col-sm-12">
								<div class="form-group">
									<div class="select-box">
										<select class="form-control"  name="patient" required>
											<option >Select Patient</option>
											{% for data in patient_names %}
												<option  value="{{ data.pk }}">{{ data.name }}</option>
											{% endfor %}
										</select>
									</div>
								</div>
							</div>

							<div class="col-lg-6 col-sm-12">
								<div class="form-group">
									<div class="select-box">
										<select name="status" class="form-control">
											 <option  value="0">Pending </option>
											 <option  value="1">Completed</option>
										</select>
									</div>




								</div>
							</div>


							<div class="col-12">
								<button class="default-btn btn-two" type="submit">
									Create Appointment
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</section>
		<!-- END Create Patient AREA -->

{% endblock %}
