{% extends 'base.html' %}
{% load static %}
{% block content %}

		<!-- START BANNER AREA -->
		<section class="banner-area">
			<div class="d-table">
				<div class="d-table-cell">
					<div class="container">
						<div class="row">
							<div class="col-lg-6">
								<div class="banner-content">
									<span class="wow fadeInUp" data-wow-delay=".4s">Welcome To UHS</span>
									<h1 class="wow fadeInUp" data-wow-delay=".6s">University of Abuja Health Services</h1>
									<p class="wow fadeInUp" data-wow-delay=".8s">
										It is a pleasure welcoming you to the University of Abuja Health Service (UHS). The UHS will continue to provide health care services to the University community and others. The services will continue to extend beyond the basic health care and referral for specialist consult. The services have been highly subsidized for all the clients across divides.

									</p>

									<div class="banner-btn wow fadeInUp" data-wow-delay=".9s">
										<a href="department-grid.html" class="default-btn">
											View Departments
										</a>
										<a href="/contact" class="default-btn active">
											Contact Us
										</a>
									</div>
								</div>
							</div>

							<div class="col-lg-6">
								<div class="banner-img wow fadeInUp" data-wow-delay=".9s">
									<img src="{% static 'assets/img/hone-one-banner/banner-img.png' %}" alt="Image">
<!--									<img src="{% static 'assets/img/staff/abdulkabir_ayanniyi.jpg' %}" alt="Image">-->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END BANNER AREA -->

		<!-- START ABOUT AREA -->
		<section class="about-area pt-100 pb-70">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6">
						<div class="about-content">
							<span class="top-title">About Us</span>
							<h2>Tackle The Challenge Of Delivering Health Care</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi consectetur adipiscing elit incididunt labore dolore magna</p>

							<ul>
								<li>
									<i class="bx bx-check"></i>
									Consultations Wif Specialized Pediatricians
								</li>
								<li>
									<i class="bx bx-check"></i>
									A Wide Range Of Laboratory Studies
								</li>
								<li>
									<i class="bx bx-check"></i>
									Ultrasound Examination
								</li>
								<li>
									<i class="bx bx-check"></i>
									ECG, Echocardiography
								</li>
							</ul>

							<a href="/about" class="default-btn">
								More About Us
							</a>
						</div>
					</div>

					<div class="col-lg-6">
						<div class="features-content">
							<div class="row">
								<div class="col-lg-6 col-sm-6">
									<div class="single-features">
										<i class="flaticon-doctor"></i>
										<h3>Skilled Doctors</h3>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
										<a href="department-details.html" class="read-more">
											Read More
										</a>
									</div>
								</div>

								<div class="col-lg-6 col-sm-6">
									<div class="single-features">
										<i class="flaticon-personal-information"></i>
										<h3>Quality Services</h3>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
										<a href="department-details.html" class="read-more">
											Read More
										</a>
									</div>
								</div>

								<div class="col-lg-6 col-sm-6">
									<div class="single-features">
										<i class="flaticon-rate"></i>
										<h3>Positive Reviews</h3>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
										<a href="department-details.html" class="read-more">
											Read More
										</a>
									</div>
								</div>

								<div class="col-lg-6 col-sm-6">
									<div class="single-features">
										<i class="flaticon-first-aid-kit"></i>
										<h3>Latest Equipment</h3>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
										<a href="department-details.html" class="read-more">
											Read More
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END ABOUT AREA -->

		<!-- START COUNTER AREA CSS -->
		<section class="counter-area pb-70">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-sm-6">
						<div class="single-counter">
							<i class="bx bx-user-circle"></i>

							<h2>
								<span class="odometer" data-count="540">00</span>
								<span class="target">+</span>
							</h2>

							<p>Expert Doctors</p>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-counter">
							<i class="bx bx-check-circle"></i>

							<h2>
								<span class="odometer" data-count="990">00</span>
								<span class="target">+</span>
							</h2>

							<p>Successful Story</p>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-counter">
							<i class="bx bx-trophy"></i>

							<h2>
								<span class="odometer" data-count="3500">00</span>
								<span class="traget">+</span>
							</h2>

							<p>Global Presence</p>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-counter">
							<i class="bx bx-certification"></i>

							<h2>
								<span class="odometer" data-count="54">00</span>
								<span class="traget">+</span>
							</h2>

							<p>Experiences</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END COUNTER AREA CSS -->

		<!-- END SERVICES AREA -->
		<section class="services-area bg-color pt-100 pb-70">
			<div class="container">
				<div class="section-title">
					<span class="top-title">Our Services</span>
					<h2>Our Healthcare <span>Services</span></h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore perferendis deleniti illum necessitati voluptates ipsum, ratione dolorum veritatis minus mollitia placeat</p>
				</div>

				<div class="row">
					<div class="col-lg-4 col-sm-6">
						<div class="single-services">
							<i class="flaticon-medicine"></i>
							<h3>Medicine</h3>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis odit, unde fugiat autem earum luptatem sequuntur.</p>

							<a href="department-details.html" class="read-more">
								Read More
							</a>
						</div>
					</div>

					<div class="col-lg-4 col-sm-6">
						<div class="single-services">
							<i class="flaticon-neurology"></i>
							<h3>Neurology</h3>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis odit, unde fugiat autem earum luptatem sequuntur.</p>

							<a href="department-details.html" class="read-more">
								Read More
							</a>
						</div>
					</div>

					<div class="col-lg-4 col-sm-6">
						<div class="single-services">
							<i class="flaticon-eye"></i>
							<h3>Eye Care</h3>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis odit, unde fugiat autem earum luptatem sequuntur.</p>

							<a href="department-details.html" class="read-more">
								Read More
							</a>
						</div>
					</div>

					<div class="col-lg-4 col-sm-6">
						<div class="single-services">
							<i class="flaticon-heart"></i>
							<h3>Cardiology</h3>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis odit, unde fugiat autem earum luptatem sequuntur.</p>

							<a href="department-details.html" class="read-more">
								Read More
							</a>
						</div>
					</div>

					<div class="col-lg-4 col-sm-6">
						<div class="single-services">
							<i class="flaticon-dental-care"></i>
							<h3>Dental Care</h3>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis odit, unde fugiat autem earum luptatem sequuntur.</p>

							<a href="department-details.html" class="read-more">
								Read More
							</a>
						</div>
					</div>

					<div class="col-lg-4 col-sm-6">
						<div class="single-services">
							<i class="flaticon-lungs"></i>
							<h3>Pulmonary</h3>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis odit, unde fugiat autem earum luptatem sequuntur.</p>

							<a href="department-details.html" class="read-more">
								Read More
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END SERVICES AREA -->


		<!-- START DOCTORS AREA -->
		<section class="doctor-area bg-color pt-100 pb-70">
			<div class="container">
				<div class="section-title">
					<span class="top-title">Our Doctor's</span>
					<h2>Our Expert Doctor's</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore perferendis deleniti illum necessitati voluptates ipsum, ratione dolorum veritatis minus mollitia placeat</p>
				</div>

				<div class="row">
					<div class="col-lg-4 col-sm-6">
						<div class="single-doctor">
							<img src="assets/img/doctor/1.jpg" alt="Image">

							<div class="doctor-content">
								<h3>Dr. Anthony</h3>
								<span>Surgeon, Сardiologist</span>
							</div>

							<ul>
							  	<li>
									<a href="#">
										<i class="bx bxl-facebook"></i>
									</a>
								</li>
							  	<li>
									<a href="#">
										<i class="bx bxl-twitter"></i>
									</a>
								</li>
							  	<li>
									<a href="#">
										<i class="bx bxl-instagram"></i>
									</a>
								</li>
							  	<li>
									<a href="#">
										<i class="bx bxl-linkedin"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-4 col-sm-6">
						<div class="single-doctor">
							<img src="assets/img/doctor/2.jpg" alt="Image">

							<div class="doctor-content">
								<h3>Dr. Anna</h3>
								<span>Internist, General Practitioner</span>
							</div>

							<ul>
							  	<li>
									<a href="#">
										<i class="bx bxl-facebook"></i>
									</a>
								</li>
							  	<li>
									<a href="#">
										<i class="bx bxl-twitter"></i>
									</a>
								</li>
							  	<li>
									<a href="#">
										<i class="bx bxl-instagram"></i>
									</a>
								</li>
							  	<li>
									<a href="#">
										<i class="bx bxl-linkedin"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-4 col-sm-6 offset-sm-3 offset-lg-0">
						<div class="single-doctor">
							<img src="assets/img/doctor/3.jpg" alt="Image">

							<div class="doctor-content">
								<h3>Dr. Andrew</h3>
								<span>Internist, Orthopedic Surgeon</span>
							</div>

							<ul>
							  	<li>
									<a href="#">
										<i class="bx bxl-facebook"></i>
									</a>
								</li>
							  	<li>
									<a href="#">
										<i class="bx bxl-twitter"></i>
									</a>
								</li>
							  	<li>
									<a href="#">
										<i class="bx bxl-instagram"></i>
									</a>
								</li>
							  	<li>
									<a href="#">
										<i class="bx bxl-linkedin"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END DOCTORS AREA -->


		<!-- START FAQ AREA -->
        <section class="faq-area bg-color ptb-100">
            <div class="container">
				<div class="section-title">
					<span class="top-title">FAQ'S</span>
					<h2>Frequently Asked Questions</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore perferendis deleniti illum necessitati voluptates ipsum, ratione dolorum veritatis minus mollitia placeat</p>
				</div>

                <div class="row align-items-center">
					<div class="col-lg-6">
                        <div class="faq-image">
                            <img src="assets/img/faq-img.jpg" alt="image">
                        </div>
					</div>

                    <div class="col-lg-6">
                        <div class="faq-accordion">
                            <ul class="accordion">
                                <li class="accordion-item active">
                                    <a class="accordion-title" href="javascript:void(0)">
                                        <i class="bx bx-plus"></i>
                                        What can me expect at the first appointment?
                                    </a>

                                    <p class="accordion-content show">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, beatae, similique vel officia laboriosam autem aperiam distinctio fugiat a repudiandae nihil quis nesciunt hic sit. Facere animi voluptate nobis asperiores quis nesciunt hic sit. Facere animi voluptate nobis ipsum dolor sit amet, consectetur adipisicing elit. Aut, beatae, similique vel officia laboriosam laboriosam autem aperiam distinctio fugiat
                                    </p>
                                </li>

                                <li class="accordion-item">
                                    <a class="accordion-title" href="javascript:void(0)">
                                        <i class="bx bx-plus"></i>
										What should I do if I miss my appointment?
                                    </a>

                                    <p class="accordion-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, beatae, similique vel officia laboriosam autem aperiam distinctio fugiat a repudiandae nihil quis nesciunt hic sit. Facere animi voluptate nobis asperiores quis nesciunt hic sit. Facere animi voluptate nobis ipsum dolor sit amet, consectetur adipisicing elit. Aut, beatae, similique vel officia laboriosam laboriosam autem aperiam distinctio fugiat
                                    </p>
                                </li>

                                <li class="accordion-item">
                                    <a class="accordion-title" href="javascript:void(0)">
                                        <i class="bx bx-plus"></i>
                                        What is the fee for doctors if visit home?
                                    </a>

                                    <p class="accordion-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, beatae, similique vel officia laboriosam autem aperiam distinctio fugiat a repudiandae nihil quis nesciunt hic sit. Facere animi voluptate nobis asperiores quis nesciunt hic sit. Facere animi voluptate nobis ipsum dolor sit amet, consectetur adipisicing elit. Aut, beatae, similique vel officia laboriosam laboriosam autem aperiam distinctio fugiat
                                    </p>
                                </li>

                                <li class="accordion-item">
                                    <a class="accordion-title" href="javascript:void(0)">
                                        <i class="bx bx-plus"></i>
                                        What is an academic medical center?
                                    </a>

                                    <p class="accordion-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, beatae, similique vel officia laboriosam autem aperiam distinctio fugiat a repudiandae nihil quis nesciunt hic sit. Facere animi voluptate nobis asperiores quis nesciunt hic sit. Facere animi voluptate nobis ipsum dolor sit amet, consectetur adipisicing elit. Aut, beatae, similique vel officia laboriosam laboriosam autem aperiam distinctio fugiat
                                    </p>
                                </li>

                                <li class="accordion-item">
                                    <a class="accordion-title" href="javascript:void(0)">
                                        <i class="bx bx-plus"></i>
                                        How are residents supervised?
                                    </a>

                                    <p class="accordion-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, beatae, similique vel officia laboriosam autem aperiam distinctio fugiat a repudiandae nihil quis nesciunt hic sit. Facere animi voluptate nobis asperiores quis nesciunt hic sit. Facere animi voluptate nobis ipsum dolor sit amet, consectetur adipisicing elit. Aut, beatae, similique vel officia laboriosam laboriosam autem aperiam distinctio fugiat
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
		<!-- END FAQ AREA -->

		<!-- START APPOINTMENT AREA -->
		<section class="appointment-area ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="appointment-here-form">
							<span class="top-title">Make An Appointment</span>
							<h2>We Are Here For You</h2>

							<form>
								<div class="row">
									<div class="col-lg-6 col-sm-6">
										<div class="form-group">
											<input type="text" class="form-control" id="Name" placeholder="Enter Your Name">
											<i class="bx bx-user"></i>
										</div>
									</div>

									<div class="col-lg-6 col-sm-6">
										<div class="form-group">
											<input type="text" class="form-control" id="Email" placeholder="Enter Your Email">
											<i class="bx bx-user"></i>
										</div>
									</div>

									<div class="col-lg-6 col-sm-6">
										<div class="form-group">
											<input type="text" class="form-control" id="Phone" placeholder="Enter Your Phone">
											<i class="bx bx-mobile-alt"></i>
										</div>
									</div>

									<div class="col-lg-6 col-sm-6">
										<div class="form-group">
											<select>
												<option value="">Select Service</option>
												<option value="">Surgery & Radiology</option>
												<option value="">Children Care</option>
												<option value="">Orthopedics</option>
												<option value="">Nuclear Magnetic</option>
												<option value="">Eye Treatment</option>
												<option value="">X-Ray</option>
											</select>
											<i class="bx bx-heart"></i>
										</div>
									</div>

									<div class="col-lg-6 col-sm-6">
										<div class="form-group">
											<div class="input-group date" id="datetimepicker2">
												<input type="text" class="form-control" placeholder="Date">
												<span class="input-group-addon">
												</span>
											</div>
											<i class="bx bx-calendar"></i>
										</div>
									</div>

									<div class="col-lg-6 col-sm-6">
										<div class="form-group">
											<select>
												<option value="">Seclect Time</option>
												<option value="2">09.00 AM To 10.00 AM</option>
												<option value="0">10.00 AM To 11.00 AM</option>
												<option value="3">11.00 AM To 12.00 PM</option>
												<option value="4">12.00 PM To 01.00 PM</option>
												<option value="5">01.00 PM To 03.00 PM</option>
												<option value="6">04.00 PM To 06.00 PM</option>
												<option value="7">07.00 PM To 10.00 PM</option>
												<option value="8">10.00 PM To 11.00 PM</option>
											</select>
											<i class="bx bx-time"></i>
										</div>
									</div>

									<div class="col-lg-12">
										<div class="form-group">
											<textarea name="message" class="form-control" id="Message" cols="30" rows="8" placeholder="Your Message"></textarea>
											<i class="flaticon-edit"></i>
										</div>
									</div>

									<div class="col-12">
										<button type="submit" class="default-btn">Send Request</button>
									</div>
								</div>
							</form>
						</div>
					</div>

					<div class="col-lg-6">
						<div class="appointment-img"></div>
					</div>
				</div>
			</div>
		</section>
		<!-- END APPOINTMENT AREA -->



{% endblock %}