{% extends 'base.html' %}
{% load static %}
<title>{% block title %}Uniabuja Clinic | Staffs {% endblock %}</title>
{% block content %}

		<!-- START PAGE TITLE AREA -->
		<div class="page-title-area bg-5">
			<div class="container">
				<div class="page-title-content">
					<h2>Staffs</h2>
					<ul>
						<li>
							<a href="/">
								Home 
							</a>
						</li>

						<li>Pages</li>
						<li class="active">Staffs</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- END PAGE TITLE AREA -->

		<!-- START DOCTORS AREA -->
		<section class="doctor-area bg-color ptb-100">
			<div class="container">
				<div class="section-title">
					<span class="top-title">Our Staffs</span>
					<h2>Meet our Staffs</h2>
					<p>
						The University Health Services has qualified, dedicated and competent medical staffs.
					</p>
				</div>

				<div class="row">

					<div class="col-lg-3 col-sm-6">
						<div class="single-doctor">
							<img src="{% static 'assets/img/staff/abdulkabir_ayanniyi1.jpg' %}"  alt="Image">


							<div class="doctor-content">
								<h3>ABDULKABIR AYANNIYI</h3>
								<span>MBBS (Ibadan), FMCOph (Nigeria), PGDE (UDUS),
									MA (Medical Ethics & Law, Keele, UK).<br/>
									Professor and Head
									</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-doctor">
							<img src="{% static 'assets/img/staff/dr_okereke_oriaku.jpg' %}" alt="Image">

							<div class="doctor-content">
								<h3>DR. OKEREKE ORIAKU OLUCHI</h3>
								<span>Chief Medical Officer (CMO)</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-doctor">
							<img src="{% static 'assets/img/staff/dr_salihu_ibrahim.jpg' %}" alt="Image">

							<div class="doctor-content">
								<h3>DR. SALIHU IBRAHIM AHMED</h3>
								<span>Assistant Chief Medical Officer (ACMO)</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-doctor">
							<img src="{% static 'assets/img/staff/dr_uju_patrick.jpg' %}" alt="Image">

							<div class="doctor-content">
								<h3>DR. UJU PATRICK CHIMEZIE</h3>
								<span>Assistant Chief Medical Officer (ACMO)</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-doctor">
							<img src="{% static 'assets/img/staff/ibrahim_sani.jpg' %}" alt="Image">

							<div class="doctor-content">
								<h3>IBRAHIM SANI KHADIJAT</h3>
								<span>Chief Nursing Officer (CNO)</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-doctor">
							<img src="{% static 'assets/img/staff/igwe_chidimma.jpg' %}" alt="Image">

							<div class="doctor-content">
								<h3>IGWE CHIDIMMA CHARITY</h3>
								<span>Chief Nursing Officer (CNO)</span>
							</div>
						</div>
					</div>

                    <div class="col-lg-3 col-sm-6">
						<div class="single-doctor">
							<img src="{% static 'assets/img/staff/azeez_titilayo.jpg' %}" alt="Image">

							<div class="doctor-content">
								<h3>AZEEZ TITILAYO KUDIRAT</h3>
								<span>Chief Nursing Officer (CNO)</span>
							</div>
						</div>
					</div>

                    <div class="col-lg-3 col-sm-6">
						<div class="single-doctor">
							<img src="{% static 'assets/img/staff/ibrahim_ahmed.jpg' %}" alt="Image">

							<div class="doctor-content">
								<h3>IBRAHIM AHMED IDRIS</h3>
								<span>Assistant Chief Nursing Officer (ACNO)</span>
							</div>
						</div>
					</div>

                    <div class="col-lg-3 col-sm-6">
						<div class="single-doctor">
							<img src="{% static 'assets/img/staff/usman_zainab.jpg' %}" alt="Image">

							<div class="doctor-content">
								<h3>USMAN ZAINAB LADIDI</h3>
								<span>Assistant Chief Nursing Officer (ACNO)</span>
							</div>
						</div>
					</div>

                    <div class="col-lg-3 col-sm-6">
						<div class="single-doctor">
							<img src="{% static 'assets/img/staff/ogbu_victoria.jpg' %}" alt="Image">

							<div class="doctor-content">
								<h3>OGBU VICTORIA ENUNAZI</h3>
								<span>Assistant Chief Nursing Officer (ACNO)</span>
							</div>
						</div>
					</div>

                    <div class="col-lg-3 col-sm-6">
						<div class="single-doctor">
							<img src="{% static 'assets/img/staff/ehwere_iyore.jpg' %}" alt="Image">

							<div class="doctor-content">
								<h3>EHIWERE IYORE COMFORT</h3>
								<span>Assistant Chief Nursing Officer (ACNO)</span>
							</div>
						</div>
					</div>

                    <div class="col-lg-3 col-sm-6">
						<div class="single-doctor">
							<img src="{% static 'assets/img/staff/nnamdi_doreen.jpg' %}" alt="Image">

							<div class="doctor-content">
								<h3>NNAMDI DOREEN N</h3>
								<span>Principal Nursing Officer (PNO)</span>
							</div>
						</div>
					</div>

                    <div class="col-lg-3 col-sm-6">
						<div class="single-doctor">
							<img src="{% static 'assets/img/staff/jedna_musa.jpg' %}" alt="Image">

							<div class="doctor-content">
								<h3>JEDNA MUSA CAROLINE</h3>
								<span>Principal Nursing Officer (PNO)</span>
							</div>
						</div>
					</div>

                    <div class="col-lg-3 col-sm-6">
						<div class="single-doctor">
							<img src="{% static 'assets/img/staff/alkali_ahmed.jpg' %}" alt="Image">
							<div class="doctor-content">
								<h3>ALKALI AHMED</h3>
								<span>Principal Nursing Officer (PNO)</span>
							</div>
						</div>
					</div>

                    <div class="col-lg-3 col-sm-6">
						<div class="single-doctor">
							<img src="{% static 'assets/img/staff/abdullahi_maimuna.jpg' %}" alt="Image">
							<div class="doctor-content">
								<h3>ABDULLAHI MAIMUNA</h3>
								<span>Assistant Chief Medical Record Clerk (ACMRC)</span>
							</div>
						</div>
					</div>

                    <div class="col-lg-3 col-sm-6">
						<div class="single-doctor">
							<img src="{% static 'assets/img/staff/bamidele_isaac.jpg' %}" alt="Image">
							<div class="doctor-content">
								<h3>BAMIDELE ISAAC O.</h3>
								<span>Chief Medical Laboratory Scientist (CMLS)</span>
							</div>
						</div>
					</div>

                    <div class="col-lg-3 col-sm-6">
						<div class="single-doctor">
							<img src="{% static 'assets/img/staff/oyadiran_yetunde.jpg' %}" alt="Image">
							<div class="doctor-content">
								<h3>OYADIRAN YETUNDE</h3>
								<span>Assistant Chief Pharmacist (ACP)</span>
							</div>
						</div>
					</div>

                    <div class="col-lg-3 col-sm-6">
						<div class="single-doctor">
							<img src="{% static 'assets/img/staff/joachim_franca.jpg' %}" alt="Image">
							<div class="doctor-content">
								<h3>JOACHIM FRANCA EBERE</h3>
								<span>Assistant Chief Nursing Officer (ACNO)</span>
							</div>
						</div>
					</div>

                    <div class="col-lg-3 col-sm-6">
						<div class="single-doctor">
							<img src="{% static 'assets/img/staff/oiseomaoje_edugie.jpg' %}" alt="Image">
							<div class="doctor-content">
								<h3>OISEOMAOJE EDUGIE LOVETH</h3>
								<span>Principal Nursing Officer (PNO)</span>
							</div>
						</div>
					</div>

                    <div class="col-lg-3 col-sm-6">
						<div class="single-doctor">
							<img src="{% static 'assets/img/staff/kyabi_musa.jpg' %}" alt="Image">
							<div class="doctor-content">
								<h3>KYABI MUSA HALIMA Y.</h3>
								<span>Principal Nursing Officer (PNO)</span>
							</div>
						</div>
					</div>

                    <div class="col-lg-3 col-sm-6">
						<div class="single-doctor">
							<img src="{% static 'assets/img/staff/nurudeen_hauwa.jpg' %}" alt="Image">
							<div class="doctor-content">
								<h3>NURUDEEN HAUWA</h3>
								<span>Senior Nursing Officer (SNO)</span>
							</div>
						</div>
					</div>

                    <div class="col-lg-3 col-sm-6">
						<div class="single-doctor">
							<img src="{% static 'assets/img/staff/ndagi_yunusa.jpg' %}" alt="Image">
							<div class="doctor-content">
								<h3>NDAGI YUNUSA BABA</h3>
								<span>Chief Medical Laboratory Scientist (CMLS)</span>
							</div>
						</div>
					</div>

                    <div class="col-lg-3 col-sm-6">
						<div class="single-doctor">
							<img src="{% static 'assets/img/staff/ademola_hauwa.jpg' %}" alt="Image">
							<div class="doctor-content">
								<h3>ADEMOLA HAUWA</h3>
								<span>Principal Medical Laboratory Technician (PMLT)</span>
							</div>
						</div>
					</div>

                    <div class="col-lg-3 col-sm-6">
						<div class="single-doctor">
							<img src="{% static 'assets/img/staff/yusuf_nurudeen.jpg' %}" alt="Image">
							<div class="doctor-content">
								<h3>YUSUF NURUDEEN TAIYE</h3>
								<span>Assistant Chief Pharmacist (ACP)</span>
							</div>
						</div>
					</div>

                    <div class="col-lg-3 col-sm-6">
						<div class="single-doctor">
							<img src="{% static 'assets/img/staff/ibrahim_suleiman.jpg' %}" alt="Image">
							<div class="doctor-content">
								<h3>IBRAHIM SULEIMAN NYASS</h3>
								<span>Assistant Chief Pharmacy Technician (ACPT)</span>
							</div>
						</div>
					</div>

                    <div class="col-lg-3 col-sm-6">
						<div class="single-doctor">
							<img src="{% static 'assets/img/staff/onyilo_veronica.jpg' %}" alt="Image">
							<div class="doctor-content">
								<h3>ONYILO VERONICA</h3>
								<span>Chief Pharmacy Assistant (CPA)</span>
							</div>
						</div>
					</div>

                    <div class="col-lg-3 col-sm-6">
						<div class="single-doctor">
							<img src="{% static 'assets/img/staff/abubakar_adama.jpg' %}" alt="Image">
							<div class="doctor-content">
								<h3>ABUBAKAR ADAMA WAZIRI</h3>
								<span>Executive Officer Administration (EOA)</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-doctor">
							<img src="{% static 'assets/img/staff/orva_simon.jpg' %}" alt="Image">
							<div class="doctor-content">
								<h3>ORVA SIMON</h3>
								<span>Chief Pharmacy Assistant (CPA)</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-doctor">
							<img src="{% static 'assets/img/staff/idolo_adamu.jpg' %}" alt="Image">
							<div class="doctor-content">
								<h3>IDOLO ADAMU A.</h3>
								<span>Chief Medical Record Officer</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-doctor">
							<img src="{% static 'assets/img/staff/saleh_musa.jpg' %}" alt="Image">
							<div class="doctor-content">
								<h3>SALEH MUSA</h3>
								<span>Principal Executive Officer (PEO)</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-doctor">
							<img src="{% static 'assets/img/staff/uwatt_ekaette.jpg' %}" alt="Image">
							<div class="doctor-content">
								<h3>UWATT EKAETTE</h3>
								<span>Senior Confidential Secretary (SCS)</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-doctor">
							<img src="{% static 'assets/img/staff/nkanta_inemest.jpg' %}" alt="Image">
							<div class="doctor-content">
								<h3>NKANTA INEMEST</h3>
								<span>Senior Executive Officer (ACCT)</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-doctor">
							<img src="{% static 'assets/img/staff/suleiman_d.jpg' %}" alt="Image">
							<div class="doctor-content">
								<h3>SULEIMAN D. AMODU</h3>
								<span>Principal Environmental Officer I</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-doctor">
							<img src="{% static 'assets/img/staff/adeoye_mary.jpg' %}" alt="Image">
							<div class="doctor-content">
								<h3>ADEOYE MARY OWOLARA</h3>
								<span>Principal Environmental Officer I</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-doctor">
							<img src="{% static 'assets/img/staff/sanitairan_abdulkadir.jpg' %}" alt="Image">
							<div class="doctor-content">
								<h3>SANITAIRAN ABDULKADIR ABUGI</h3>
								<span>Assistant Chief Environmental Health Officer (ACEHO)</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-doctor">
							<img src="{% static 'assets/img/staff/suleiman_adijatu.jpg' %}" alt="Image">
							<div class="doctor-content">
								<h3>SULEIMAN ADIJATU</h3>
								<span>Attendant</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-doctor">
							<img src="{% static 'assets/img/staff/akough_florence.jpg' %}" alt="Image">
							<div class="doctor-content">
								<h3>AKOUGH FLORENCE</h3>
								<span>Senior Caretaker</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-doctor">
							<img src="{% static 'assets/img/staff/abubakar_mayaki.jpg' %}" alt="Image">
							<div class="doctor-content">
								<h3>ABUBAKAR MAYAKI</h3>
								<span>Senior Caretaker</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-doctor">
							<img src="{% static 'assets/img/staff/haruna_halima.jpg' %}" alt="Image">
							<div class="doctor-content">
								<h3>HARUNA HALIMA</h3>
								<span>Head Cleaner</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-doctor">
							<img src="{% static 'assets/img/staff/muhammed_fatima.jpg' %}" alt="Image">
							<div class="doctor-content">
								<h3>MUHAMMED FATIMA UMAR</h3>
								<span>Attendant</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-doctor">
							<img src="{% static 'assets/img/staff/anzaku_sabina.jpg' %}" alt="Image">
							<div class="doctor-content">
								<h3>ANZAKU SABINA</h3>
								<span>Caretaker</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-doctor">
							<img src="{% static 'assets/img/staff/jimaza_alice.jpg' %}" alt="Image">
							<div class="doctor-content">
								<h3>JIMAZA ALICE</h3>
								<span>Cleaner</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-doctor">
							<img src="{% static 'assets/img/staff/samson_laraba.jpg' %}" alt="Image">
							<div class="doctor-content">
								<h3>SAMSON LARABA</h3>
								<span>Cleaner</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-doctor">
							<img src="{% static 'assets/img/staff/yahaya_rabi.jpg' %}" alt="Image">
							<div class="doctor-content">
								<h3>YAHAYA RABI</h3>
								<span>Cleaner</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-doctor">
							<img src="{% static 'assets/img/staff/damina_ladi.jpg' %}" alt="Image">
							<div class="doctor-content">
								<h3>DAMINA LADI</h3>
								<span>Cleaner</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-doctor">
							<img src="{% static 'assets/img/staff/muhammed_maryam.jpg' %}" alt="Image">
							<div class="doctor-content">
								<h3>MUHAMMED MARYAM</h3>
								<span>Cleaner</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-doctor">
							<img src="{% static 'assets/img/staff/gambo_yakubu.jpg' %}" alt="Image">
							<div class="doctor-content">
								<h3>GAMBO YAKUBU</h3>
								<span>Chief Driver</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-doctor">
							<img src="{% static 'assets/img/staff/suleiman_adamu.jpg' %}" alt="Image">
							<div class="doctor-content">
								<h3>SULEIMAN ADAMU</h3>
								<span>Driver/Mechanic</span>
							</div>
						</div>
					</div>





					<div class="col-lg-12 col-md-12">
                        <div class="pagination-area text-center">
                            <a href="#" class="prev page-numbers">
								<i class="bx bx-chevrons-left"></i>
							</a>
                            <a href="#" class="page-numbers active">1</a>
                            <a href="#" class="page-numbers">2</a>
                            <a href="#" class="page-numbers">3</a>
                            <a href="#" class="page-numbers">4</a>
                            <a href="#" class="next page-numbers">
								<i class="bx bx-chevrons-right"></i>
							</a>
                        </div>
                    </div>
				</div>
			</div>
		</section>
		<!-- END DOCTORS AREA -->


{% endblock %}